doctype
html
  head
    title Authentification simple avec Express et Mongodb
    link(rel='stylesheet', href='/css/style.css')
  body
    include ./inc/header.jade
    .container
        block content
